<div class="container">
  <% if current_user.following?(@user) && current_user.followed_by?(@user) %>
    <div class="row justify-content-end">
      <% if @room_exists %>
        <%= link_to 'チャットへ', room_path(@room.id), class: "btn btn-info" %>
      <% else %>
        <%= form_with model: @new_room do |f| %>
          <%= f.hidden_field :user_id, value: @user.id %>
          <%= f.submit 'チャットを始める', class: "btn btn-success" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <div class="row">
    <%= render 'layouts/sidebar', user: @user, book: @new_book %>

    <div class="col-md-8 offset-md-1">
      <div class=row">
        <h2 class="my-4"><%= @user.name %>'s books</h2><%= render 'layouts/search' %>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <tbody>
          <% @user.books.each do |book| %>
            <tr>
              <td>
                <%= link_to user_path(book.user) do %>
                  <%= image_tag book.user.get_profile_image(80,80) %>
                <% end %>
              </td>
              <td><%= link_to book.title, book_path(book) %></td>
              <td><%= book.body %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <h2>投稿数の前日比・前週比</h2>
      <table class="table table-hover border">
        <thead>
          <tr>
            <th>今日の投稿数</th>
            <th>前日の投稿数</th>
            <th>前日比</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @today_submission %></td>
            <td><%= @yesterday_submission %></td>
            <td>
              <% if @yesterday_submission == 0 %>
                前日の投稿はなし
              <% else %>
                <%= @today_submission / @yesterday_submission %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-hover border">
        <thead>
          <tr>
            <th>今週の投稿数</th>
            <th>前週の投稿数</th>
            <th>前週比</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @thisweek_submission %></td>
            <td><%= @lastweek_submission %></td>
            <td>
              <% if @lastweek_submission == 0 %>
                前週の投稿はなし
              <% else %>
                <%= @thisweek_submission / @lastweek_submission %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="table table-hover border">
        <thead>
          <tr>
            <th>６日前</th>
            <th>５日前</th>
            <th>４日前</th>
            <th>３日前</th>
            <th>２日前</th>
            <th>１日前</th>
            <th>今日</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @user.books.where(created_at: 6.day.ago.all_day).count %></td>
            <td><%= @user.books.where(created_at: 5.day.ago.all_day).count %></td>
            <td><%= @user.books.where(created_at: 4.day.ago.all_day).count %></td>
            <td><%= @user.books.where(created_at: 3.day.ago.all_day).count %></td>
            <td><%= @user.books.where(created_at: 2.day.ago.all_day).count %></td>
            <td><%= @user.books.where(created_at: 1.day.ago.all_day).count %></td>
            <td><%= @user.books.where(created_at: Time.zone.now.all_day).count %></td>
          </tr>
        </tbody>
      </table>


      <canvas id="myChart"></canvas>

      <div class="row d-flex" id="book_count">
        <%= render 'layouts/book_count', user:@user, result: @result %>
      </div>
      <div id="map"></div>

    </div>
  </div>
</div>

    <script type="text/javascript">
      $(document).on('turbolinks:load', function() {
        let ctx = document.getElementById("myChart");
        let myChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: ['6日前', '5日前', '4日前', '3日前', '2日前', '1日前', '今日'],
            datasets: [
              {
                label: '投稿した本の数',
                data: [
                  <%= @user.books.where(created_at: 6.day.ago.all_day).count %>,
                  <%= @user.books.where(created_at: 5.day.ago.all_day).count %>,
                  <%= @user.books.where(created_at: 4.day.ago.all_day).count %>,
                  <%= @user.books.where(created_at: 3.day.ago.all_day).count %>,
                  <%= @user.books.where(created_at: 2.day.ago.all_day).count %>,
                  <%= @user.books.where(created_at: 1.day.ago.all_day).count %>,
                  <%= @user.books.where(created_at: Time.zone.now.all_day).count %>
                ],
                borderColor: "black",
                backgroundColor: "white",
                tension: 0.4
              }
            ],
          },
          options: {
            title: {
              display: true,
              text: '7日間の投稿数推移'
            },
            responsive: true,
            scales: {
              y: {
                suggestedMin: 0,
                suggestedMax: 10
              },
              x: {
                stacked: true
              },
            },
          },
        });
      });
    </script>
    <script type="text/javascript">
      function initMap() {
        var test ={lat: <%= @user.latitude %>, lng: <%= @user.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 15,
                  center: test
                  });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '住所：<%= @user.address %>';
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
        var marker = new google.maps.Marker({
                      position:test,
                      map: map,
                      title: contentString
                    });

        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap"></script>
    <style type="text/css">
      #map { height: 200px;
            width: 70%;}
    </style>