<div class="container">
  <div class="row">
    <%= render 'layouts/sidebar', user: current_user, book: @new_book %>
    <div class="col-md-8 offset-md-1">
      <h2 class="mt-3">Books</h2>

      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Body</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td>
                <%= link_to user_path(book.user) do %>
                  <%= image_tag book.user.get_profile_image(50,50), class:"card-img-top" %>
                <% end %>
              </td>
              <td><%= link_to book.title, book_path(book) %></td>
              <td><%= book.body %></td>
              <td><span class="favorite_btn_partial_<%= book.id %>"><%= render 'layouts/favorite_btn', book: book %></span></td>
              <td>コメント数：<%= book.book_comments.count %></td>
              <td>閲覧数：<%= book.view_counts.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>