<div class="container-fluid px-5">
  <div class="row">
    <%= render 'layouts/sidebar', user: @book.user, book: @new_book %>
    <div class="col-md-8 offset-md-1">
      <div class="row">
        <h2 class="my-4">Book detail</h2> <%= render 'layouts/search' %>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <td><%= image_tag @book.user.get_profile_image(80,80) %><br>
              <%= link_to @book.user.name, user_path(@book.user) %>
            </td>
            <td>
              <%= link_to @book.title, book_path(@book) %><br>
              <div id="star-<%= @book.id %>"></div>
            </td>
            </td>
            <td><%= @book.body %></td>
            <td>
              <% @book.tag_list.each do |tag| %>
                <span class="btn btn-primary m-1"><%= tag %></span>
              <% end %>
            </td>
            <td class="favorite_btn_partial_<%= @book.id %>"><%= render 'layouts/favorite_btn', book: @book %></td>
            <td>閲覧数：<%= @book.view_counts.count %></td>
            <% if @book.user == current_user %>
              <td><%= link_to "Edit", edit_book_path(@book), class:"btn btn-primary" %></td>
              <td><%= link_to "Destroy", book_path(@book), method: :delete, class:"btn btn-danger", "data-confirm" => "本当に削除しますか？" %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <div class="comment_form_partial">
        <%= render 'layouts/comment_form', comment: @comment, book: @book %>
      </div>
      <div class="comment_list_partial">
        <%= render 'layouts/comment_list', comment: @comment, book: @book %>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).on('turbolinks:load', function() {
    let elem = document.getElementById("star-<%= @book.id %>");
    if (elem == null) return;
    elem.innerHTML = "";
    let opt = {
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      score: "<%= @book.star %>",
      readOnly: true,
    };
    raty(elem, opt);
  })
</script>