<div class="container">
  <div class="row">
    <%= render 'layouts/sidebar', user: @book.user, book: @new_book %>
    <div class="col-md-8 offset-md-1">
      <div class="row">
        <h2 class="my-4">Book detail</h2> <%= render 'layouts/search' %>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <td><%= image_tag @book.user.get_profile_image(80,80) %><br>
              <%= link_to @book.user.name, user_path(@book.user) %>
            </td>
            <td><%= link_to @book.title, book_path(@book) %></td>
            <td><%= @book.body %></td>
            <td class="favorite_btn_partial_<%= @book.id %>"><%= render 'layouts/favorite_btn', book: @book %></td>
            <% if @book.user == current_user %>
              <td><%= link_to "Edit", edit_book_path(@book), class:"btn btn-primary" %></td>
              <td><%= link_to "Destroy", book_path(@book), method: :delete, class:"btn btn-danger", "data-confirm" => "Are you sure?" %></td>
            <% end %>
            <td>閲覧数：<%= @book.view_counts.count %></td>
          </tr>
        </tbody>
      </table>
      <div class="comment_form_partial">
        <%= render 'layouts/comment_form', comment: @comment, book: @book %>
      </div>
      <div class="comment_list_partial">
        <%= render 'layouts/comment_list', comment: @comment, book: @book %>
      </div>

    </div>
  </div>
</div>