<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
    <%# ここにスライドショーの埋め込み %>
    <div class="slide-bar">
      <div><%= image_tag 'https://images.unsplash.com/photo-1711843250811-a7d0bb485a42?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHx8'%></div>
      <div><%= image_tag 'https://images.unsplash.com/photo-1682685797736-dabb341dc7de?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8'%></div>
      <div><%= image_tag 'https://images.unsplash.com/photo-1710170601257-242514895755?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHx8'%></div>
      <div><%= image_tag 'https://images.unsplash.com/photo-1707343845208-a20c56d2c8ba?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHw2fHx8ZW58MHx8fHx8'%></div>
    </div>

      <h1>welcome to <strong><i class="fas fa-book"></i> Bookers!!</strong></h1>
      <p>In <i class="fas fa-book"></i> Bookers,</p>
      <p>you can share and exchange your opinions, inpressions, and emotions</p>
      <p>about various books!</p>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to "Log in", new_user_session_path, class:"btn btn-info btn-sm btn-block mb-3"%>
        </div>
        <div class="row">
          <%= link_to "Sign up", new_user_registration_path, class:"btn btn-success btn-sm btn-block"%>
        </div>
      </div>
    </div>
  </div>
</div>